.meal-form {
    gap: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: beige;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

body {
    padding-top: 70px;
    font-family: quicksand, Arial, sans-serif;
    background-color: #0539e244;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-title {
    color: #333;
    text-align: center;
    border-radius: 10px;
    background-color: beige;
    padding: 5px;
}

.menu-list {
    padding: 5px;
    background-color: #b3dfba;
    border-radius: 10px;
}

.meal-form {
    padding: 10px;
    border-radius: 4px;
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: #b3dfba;
}

.input-group {
    text-align: center;
    background-color: #b3dfba;
    padding: 10px;
}

.greeting {
    text-align: center;
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    border: #333 1px solid;
    padding: 5px;
    background-color: #e0e0e0;
}

li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


li button {
    margin-right: 10px;
}

.app   {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.input-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
}
